/old
/dependencies/source
/.vscode
/build
/build-release
/data/textures/old
log.txt
imgui.ini
*.blend1
Nine-Morris-3D
Nine-Morris-3D.exe
last_game.dat
last_game_entities.dat
options.json

/.vs
CMakeCache.txt
/CMakeFiles
/Debug
*.vcxproj
*.vcxproj.filters
*.sln
*.dir
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
*.cmake
/x64
