[submodule "nine_morris_3d_engine/extern/assimp"]
	path = nine_morris_3d_engine/extern/assimp
	url = https://github.com/SimonMaracine/assimp.git
[submodule "nine_morris_3d_engine/extern/glfw"]
	path = nine_morris_3d_engine/extern/glfw
	url = https://github.com/SimonMaracine/glfw.git
[submodule "nine_morris_3d_engine/extern/glm"]
	path = nine_morris_3d_engine/extern/glm
	url = https://github.com/SimonMaracine/glm.git
[submodule "nine_morris_3d_engine/extern/utfcpp"]
	path = nine_morris_3d_engine/extern/utfcpp
	url = https://github.com/SimonMaracine/utfcpp.git
[submodule "nine_morris_3d_engine/extern/entt"]
	path = nine_morris_3d_engine/extern/entt
	url = https://github.com/SimonMaracine/entt.git
[submodule "nine_morris_3d_engine/extern/openal_soft"]
	path = nine_morris_3d_engine/extern/openal_soft
	url = https://github.com/SimonMaracine/openal-soft.git
[submodule "nine_morris_3d_engine/extern/resmanager"]
	path = nine_morris_3d_engine/extern/resmanager
	url = https://github.com/SimonMaracine/resource-manager
	branch = stable
[submodule "nine_morris_3d/extern/muhle_intelligence"]
	path = nine_morris_3d/extern/muhle_intelligence
	url = https://github.com/SimonMaracine/Muhle-Intelligence
[submodule "extern/boost"]
	path = extern/boost
	url = https://github.com/boostorg/boost
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/SimonMaracine/spdlog
