/old
/dependencies/source
/.vscode
/build
/build-release
/data/textures/old
/data/models/boardold.blend
/data/models/pieceold.blend
log.txt
imgui.ini
*.blend1
assets.morrisdat
Nine-Morris-3D
last_game.dat
last_game_entities.dat
