[Desktop Entry]
Name=Nine Morris 3D
Exec=NineMorris3D
Type=Application
Icon=io.simonmaradev.NineMorris3D
Categories=Game;
Comment=A nine men's morris implementation in 3D
Version=0.4.0
