[Unit]
Description=Server for Nine Morris 3D

[Service]
Type=notify
ExecStart=/usr/local/bin/nine_morris_3d_server
Restart=on-failure
RestartSec=60
NotifyAccess=main

[Install]
WantedBy=multi-user.target
